---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "settings"
;

.student-name {
    font-style: italic;
    text-decoration: underline;
}

li {
    list-style-type: none;
    x-margin-bottom: 10px;
}
