---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "settings"
;

.student-name {
    font-style: italic;
    text-decoration: underline;
}