---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "settings"
;

/**
 * Project grid **********************************************************
*/
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.project {
width: 33.33%;
height: 250px;
float: left;
vertical-align: middle;
box-sizing: border-box;
padding: 10px;
}
.thumbnail{
width: 100%;
height: 230px;
overflow: hidden;
border-radius: 3px;
}
.thumbnail img{
width: 500px;
height: auto;
position: relative;
left: -25%;
top: -5%;
}
.thumbnail a{
float: left;
position: relative;
width: 100%;
height: 230px;
}
.thumbnail a span {
display: block;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
color: $grey-color-light;
padding: 40px;
text-align: center;
opacity: 0.45;
background: rgba(1,1,1.0,0.2);
}
.thumbnail a:hover span {
background: rgba(0,0,0.5,0.9);
opacity: 0.75;
}

.fa:hover {
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

/**
 * Project pages **********************************************************
*/
.blankbox{
background: $theme-color;
}
.img_row{
height: $img_height;
width: 100%;
overflow: hidden;
box-sizing:border-box;
padding: $img_spacing;
}

