      <div class="trigger">
        {% assign sorted_pages = site.pages | sort:"weight" %}
        {% for pg in sorted_pages %}
          {% assign pg_url=pg.url|replace:'index.html','' %}
          {% if pg.url contains '/page' %}
          {% elsif pg.nav_title %}
            {% assign class="" %}
            {% if pg_url == '/' %}
              {% if pg_url == page_url %}
                {% assign class=" selected" %}
              {% endif %}
            {% elsif page_url contains pg_url %}
              {% assign class=" selected" %}
            {% endif %}
            <a class="page-link{{ class }}" href="{{ pg.url | replace:'index.html','' | prepend: site.baseurl }}">{{ pg.nav_title }}</a>
          {% endif %}
        {% endfor %}
      </div>
