<br/>
<hr/>

<div class="col three caption">
    <a name="contact"></a>
    To contact me or follow what I do, select your favorite method:
</div>

<span class="contacticon center">
    {% if site.email %}<a href="mailto:{{ site.email }}"><i class="fa fa-envelope-square" title="Email"></i></a>{% endif %}
    {% if site.twitter_username %}<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter-square" title="Twitter"></i></a>{% endif %}
    <!-- social media -->
    {% if site.facebook_username %}<a href="https://facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fa fa-facebook-square" title="Facebook"></i></a>{% endif %}
    {% if site.googleplus_url %}<a href="{{ site.googleplus_url }}" target="_blank"><i class="fa fa-google-plus-square" title="Google Plus"></i></a>{% endif %}
    {% if site.linkedin_url %}<a href="{{ site.linkedin_url }}" target="_blank"><i class="fa fa-linkedin-square" title="LinkedIn"></i></a>{% endif %}
    <!-- publications -->
    {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github-square" title="Github"></i></a>{% endif %}
    <!--{% if site.wordpress_url %}<a href="{{ site.wordpress_url }}" target="_blank"><i class="fa fa-wordpress-square"></i></a>{% endif %} -->
    {% if site.tumblr_username %}<a href="http://{{ site.tumblr_username }}.tumblr.com/" target="_blank"><i class="fa fa-tumblr-square" title="Tumblr"></i></a>{% endif %}
    <!-- academics -->
    {% if site.researchgate_username %}<a href="https://www.researchgate.net/profile/{{ site.researchgate_username }}" target="_blank"><i class="ai ai-researchgate-square" title="ResearchGate"/></a>{% endif %}
    {% if site.googlescholar_url %}<a href="{{ site.googlescholar_url }}" target="_blank"><i class="ai ai-google-scholar-square" title="Google Scholar" /></a>{% endif %}
    {% if site.redbubble_username %}<a href="https://www.redbubble.com/profile/{{ site.redbubble_username }}" target="_blank"><img src="{{ '/img/logos/rb.jpg' | prepend:site.baseurl }}" class="fa" style="width:52px;border-radius:10px; vertical-align:middle; margin-top:-10px;" title="RedBubble" /></a>{% endif %}
</span>
