<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">
      <div class="trigger">
        {% assign sorted_pages = site.pages | sort:"weight" %}
        {% for pg in sorted_pages %}
          {% if pg.url contains '/page' %}
          {% else %}
          <a class="page-link{% if page.url == pg.url %} selected{% endif %}" href="{{ pg.url | replace:'index.html','' | prepend: site.baseurl }}">{{ pg.title }}</a>
          {% endif %}
        {% endfor %}

      </div>
    </nav>

  </div>

</header>
