<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% endif %} | {{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" href="{{ '/css/main.css' | prepend:site.baseurl }}">
    {% if page.document-class %}
    <link rel="stylesheet" href="{{ '/css' | prepend: site.baseurl }}/{{ page.document-class }}.css">
    {% endif %}
    <link rel="stylesheet" href="{{ '/css/font-awesome.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/academicons.min.css' | prepend: site.baseurl }}">
</head>
