<header class="site-header">
  <div class="wrapper">
    <div class="site-logo">
      <a href="{{ site.baseurl }}/">
        <img class="site-pic" src="{{ '/img/prof_pic.jpg' | prepend:site.baseurl }}">
        <div class="site-title">{{ site.title }}</div>
        <div class="site-tag">{{ site.tagline }}</div>
      </a>
    </div>

    <nav class="site-nav">
      <div class="trigger">
        {% assign sorted_pages = site.pages | sort:"weight" %}
        {% for pg in sorted_pages %}
          {% if pg.url contains '/page' %} {* pagination *}
          {% elsif pg.nav_title %}
          <a class="page-link{% if page.url == pg.url %} selected{% endif %}" href="{{ pg.url | replace:'index.html','' | prepend: site.baseurl }}">{{ pg.nav_title }}</a>
          {% endif %}
        {% endfor %}

      </div>
    </nav>
  </div>
  <img class="bg" src="{{ '/img/bgs/airplane.jpg' | prepend:site.baseurl }}">
</header>
