{% if post.redirect contains 'neuwritesd' %}
  {% assign post_image = '/img/blog/neuwritesd-logo.jpg' | prepend:site.baseurl %}
  {% assign post_location = 'NeuWriteSD' %}
{% elsif post.redirect contains 'tumblr' %}
  {% assign post_image = '/img/blog/tumblr-logo.png' | prepend:site.baseurl %}
  {% assign post_location = 'Tumblr' %}
{% elsif post.redirect contains 'plos' %}
  {% assign post_image = '/img/blog/plos-logo.png' | prepend:site.baseurl %}
  {% assign post_location = 'PLOS Neuro' %}
{% elsif post.redirect contains 'medium' %}
  {% assign post_image = '/img/blog/medium-logo.png' | prepend:site.baseurl %}
  {% assign post_location = 'Medium' %}
{% else %}
  {% assign post_image = '' %}
  {% assign post_location = '' %}
{% endif %}

<li>
  <hr/>
  <br/>
  <h2>
  {% assign post_len = post.content | size %}
  {% if post.redirect %}
  <a class="post-title" href="{{ post.redirect }}" target="_blank">
  {% elsif post_len > 1 %}
  <a class="post-title" href="{{ post.url | prepend: site.baseurl }}">
  {% else %}
  <a name="">
  {% endif %}
    {% if post_image != '' %}
    <img style="width: 50px; border-radius: 5px; vertical-align: middle; margin-bottom: 5px;" src="{{ post_image }}" />
    {% endif %}
    {% if post.is-draft %}[draft]{% endif %}
    {{ post.title }}
  </a>
  </h2>
  <p class="post-meta">
    {% assign post_date=post.date | date:'%s' %}
    {% if post.reference %}
      {{ post.reference }}
    {% elsif post_date &gt; date:'1500-01-01 00:00:00' %}
      {{ post_date  | date: '%B %-d, %Y' }}
    {% endif %}
    {% if post.redirect and post_location != '' %}
    -- posted to <a href="{{ post.redirect }}">{{ post_location | truncate:55,'...'}}</a>
    {% endif %}
  </p>
  <p>{{ post.description }}</p>
</li>