---
layout: default
class: blog
nav_title: blog
title: blog
weight: 1
---

<p>
I write for a number of blogs, including
<a href="http://neuwritesd.org/author/mrquickowl/">NeuWriteSD</a>,
<a href="http://blogs.plos.org/neuro/?s=%22by+Ben+Cipollini%22">PLOS Neuro</a>,
and <a href="http://mrquickowl.tumblr.com/">my own blog at Tumblr</a>.
</p>

<ul class="post-list">
    {% for post in paginator.posts %}

        {% if post.redirect contains 'neuwritesd' %}
          {% assign post_image = '/img/blog/neuwritesd-logo.jpg' | prepend:site.baseurl %}
          {% assign post_location = 'NeuWriteSD' %}
        {% elsif post.redirect contains 'tumblr' %}
          {% assign post_image = '/img/blog/tumblr-logo.png' | prepend:site.baseurl %}
          {% assign post_location = 'Tumblr' %}
        {% elsif post.redirect contains 'plos' %}
          {% assign post_image = '/img/blog/plos-logo.png' | prepend:site.baseurl %}
          {% assign post_location = 'PLOS Neuro' %}
        {% else %}
          {% assign post_image = '' %}
          {% assign post_location = '' %}
        {% endif %}

      <li>
        <hr/>
        <br/>
        <h2>
        {% if post.redirect %}
        <a class="post-title" href="{{ post.redirect }}" target="_blank">
        {% else %}
        <a class="post-title" href="{{ post.url | prepend: site.baseurl }}">
        {% endif %}
          {% if post_image != '' %}
          <img style="width: 50px; border-radius: 5px; vertical-align: middle; margin-bottom: 5px;" src="{{ post_image }}" />
          {% endif %}
          {{ post.title }}</a>
        </h2>
        <p class="post-meta">
          {{ post.date | date: '%B %-d, %Y' }}
          {% if post.redirect %}
          -- posted to <a href="{{ post.redirect }}">{{ post_location | truncate:55,'...'}}</a>
          {% endif %}
        </p>
        <p>{{ post.description }}</p>
      </li>
    {% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend:site.baseurl }}" class="previous">&lt;</a>
  {% else %}
    <span class="previous">&nbsp;</span>
  {% endif %}
  <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend:site.baseurl}}" class="next">&gt;</a>
  {% else %}
    <span class="next ">&nbsp;</span>
  {% endif %}
</div>