---
layout: default
---
<div class="post">

  <header class="post-header">PROJECT
    <h1 class="post-title">{{ page.title }}</h1>
    <h5 class="post-description">{{ page.description }}</h5>
  </header>

  <article class="post-content">
    {% if page.img %}
    <div class="col one right" style="border: 1px solid black; padding: 10px;">
        <img style="background-color: #aaa; max-width: 210px; max-height: 210px; padding: 2px;" src="{{ page.img | prepend: site.baseurl }}" />
        {% if page.img-caption %}<p class="caption">{{ page.img-caption }}</p>{% endif %}
    </div>
    {% endif %}
    {{ content }}
  </article>

</div>
