---
layout: default
document-class: publications
---

<div class="nav-bar clearfix">
    {% assign sorted_ptypes = site.academic-publication-types | sort:"weight" %}
    {% for pub in sorted_ptypes %}
    <a href="{{ pub.url | prepend: site.baseurl }}">
    <div class='nav-item{% if pub.url == page.url %} nav-selected{% endif %}'>
    {{ pub.title }}
    </div>
    </a>
    {% endfor %}
</div>

{% if content != '' %}
    <div style="width: 80%; margin: auto; padding-top: 3px;">
    {{ content }}
    </div>
{% endif %}

{% if paginator.posts %}
    {% assign posts=paginator.posts %}
{% else %}
    {% assign posts=site.posts %}
{% endif %}

{% include publications-list.html %}
